h1{
    color: rgb(237, 49, 215);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    border-color: goldenrod;
    text-align: center;
}
p{
    color: black;
    font: bold;
    font-size: medium;
    text-align: justify;
}
.box p{
    color: darkmagenta;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}
section > h2 {
    font-weight: bold;
    background-color: rgb(237, 49, 215);
    color: #fff;
    padding: .5em;
}
.box1 p{
    color: hotpink;
}
.box1 h2{
    text-align: center;
}
nav a{
    color:rgb(94, 14, 94)
}
nav a:hover{
    color:deeppink;
}
#home{ margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: rgb(249, 197, 223);
    border-radius: 5%;

}
nav {background-color: rgb(241, 216, 230);
    display: flex;
    height: 150px;
    width: 100%; 
    justify-content: space-between;
}
nav ul{
    display: flex;
    text-decoration: none;
    

}
ul{
   
    list-style:none;
    
}
nav ul li a {
    text-decoration: none;
    margin: 5px;
    

}
nav img {
    width: 150px;
    height:150px;
}
nav div p {
    text-align: center;
    color: rgb(235, 82, 163);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;

}
header div{
   text-align: center;
}
header div p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 150%;
}
.imgHeader{
    background-image: url('./images/72235064_9704229.jpg');
    height: 300px;
    width: 100%;
    background-size: cover; 
    background-repeat: no-repeat; 

}
.imgHeader section p {
    text-align: center;
    margin-right: 100px;
    font-size: xx-large;
    color:rgb(118, 63, 207) ;
    
}
.imgHeader section button{
    text-align: crgb(118, 63, 207)enter;
    margin-right: 100px;
    background-color:rgb(224, 182, 212) ;
    width: 150px;    
    height: 50px;   
    padding: 10px 20px; 
    border: 2px solid rgb(118, 63, 207); 
    border-radius: 5px; 
    background-color: #f1a5dc;  
    font-size: 16px; 
    text-decoration: none;
    
    
      
}  
.imgHeader section button a{
    text-decoration: none;
    color: rgb(118, 63, 207);
}
.imgHeader section{
    padding-top: 30px;
}
body {
    background-image: url('./images/pastel-pink-vignette-concrete-textured-background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
  }

